[Unit]
Description=Eeebdeeby, the janky automated Gentoo custodian. Beep!

[Service]
Type=exec
ExecStart=systemd-inhibit --mode=block --who="Eebydeeby" --why="Performing maintenance." eebydeeby
